#choropleth_map {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

#wrapper,
.w3-col.l6.s12,
#gender_chart_container,
#gender_bar_chart {
  width: 100%;
  max-width: 100%;
}

#gender_chart_container {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

#gender_bar_chart {
  width: 100%;
  height: auto;
}

.vega-embed,
.vega-embed > div {
  width: 100% !important;
}

body, h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
}
