#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	width: 100%;
  	height: auto;
}

#wrapper, .w3-col.l6.s12, #gender_chart_container, #gender_bar_chart {
  width: 100%;
  max-width: 100%;
}

#gender_chart_container {
  display: block;
  position: relative;
}

#gender_bar_chart {
  width: 100%;
  height: 500px;
}

.vega-embed,
.vega-embed > div {
  width: 100% !important;
}

body,h1,h2,h3,h4,h5 {
	font-family: "Raleway", sans-serif
}