#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	width: 100%;
  	height: auto;
}

#gender_bar_chart {
  width: 100%;
  display: flex;
  justify-content: center;
}

#gender_bar_chart > div {
  width: 100%;
}

body,h1,h2,h3,h4,h5 {
	font-family: "Raleway", sans-serif
}